/* .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
     color: white!important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: white!important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    color: white!important;
} */
.modalPosition{
    position: absolute;
    width: 320px!important;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
